# Database - use with docker-compose postgres
DATABASE_URL="postgresql://elasticos:elasticos_dev@localhost:5432/elastic_os"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
